#divSmallBoxes, #divMiniIcons, #divbigBoxes {
    z-index: 99999;
}

.divMessageBox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
}

.MessageIE {
    background-image: url(../img/bg.png)
}

.MessageBoxContainer {
    position: fixed;
    top: 35%;
    color: white;
    width: 100%;
    background-color: #232323;
    font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif
}

.MessageBoxMiddle {
    position: relative;
    left: 20%;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
    padding: 10px
}

.MessageBoxMiddle .MsgTitle {
    font-size: 26px
}

.MessageBoxMiddle .pText {
    font-style: 30px
}

.MessageBoxContainer input {
    width: 50%;
    padding: 5px
}

.MessageBoxContainer select {
    width: 50%;
    padding: 5px
}

.MessageBoxButtonSection {
    width: 100%;
    height: 30px
}

.MessageBoxButtonSection button {
    float: right;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    color: white;
    margin-right: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: arial;
    background: none;
    border-radius: 0;

}

.MessageBoxButtonSection button:hover {
    background-color: red
}

.LoadingBoxContainer {
    z-index: 999999999;
    position: fixed;
    color: white;
    width: 100%;
    background-color: #232323;
    font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif
}

.LoadingBoxMiddle {
    position: relative;
    left: 20%;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
    padding: 10px
}

.LoadingBoxContainer .MsgTitle {
    font-size: 26px
}

.LoadingBoxContainer .pText {
    font-style: 30px
}

#LoadingPoints {
    position: absolute
}

.bigBox {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #004d60;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    width: 390px;
    height: 150px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
    z-index: 999999998
}

.bigBox span {
    font-size: 22px
}

.bigBox p {
    font-size: 14px;
    margin-top: 2px
}

#divMiniIcons {
    float: right;
    position: fixed;
    width: 430px;
    right: 10px;
    bottom: 180px;
    z-index: 999999998
}

.botClose {
    position: absolute;
    right: 10px;
    height: 15px;
    width: 15px;
    cursor: pointer
}

#divMiniIcons .cajita {
    margin-left: 4px;
    margin-top: 5px;
    background-color: red;
    width: 30.5px;
    height: 30.5px;
    margin: 2 2px 0;
    float: right;
    cursor: pointer;
    display: block
}

.cajita img {
    width: 23px;
    height: 23px;
    padding-left: 3px;
    padding-top: 3px
}

.bigBox .bigboxicon {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 100px;
    margin: 0;
    float: left
}

.bigBox .bigboxnumber {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 220px;
    margin: 5 0 0;
    float: left;
    text-align: right;
    font-size: 25px;
    margin-top: 2px
}

#divSmallBoxes {
    position: fixed;
    right: 0;
    top: 0
}

.SmallBox {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 10px 30px 0 10px;
    width: 420px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
    z-index: 999999998;
    border: 1px solid #ffffff;
}

.SmallBox:hover {
    box-shadow: 0 0 10px #888;
    cursor: pointer
}

.SmallBox .foto {
    width: 100px;
    height: 100px;
    margin: -10 -10px 2em;
    float: left
}

.SmallBox .textoFull {
    width: 93%;
    float: left;
    padding-left: 10px 20px 0;
}

.SmallBox .textoFoto {
    width: 65%;
    margin: 0 20px 0;
    float: left
}

.miniPic {
    position: absolute;
    bottom: 5px
}

.miniIcono {
    height: 100%
}

.SmallBox span {
    font-size: 22px
}

.SmallBox p {
    font-size: 12px;
    margin-top: 2px
}

#pageslide {
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999998;
    width: 305px;
    padding: 20px;
    background-color: #004d60;
    color: #FFF;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-shadow: inset 0 0 0 0 #222;
    box-shadow: inset 0 0 0 0 #222
}

.purehtml {
    color: white;
    font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
    font-size: 16px
}

@font-face {
    font-family: Quattro;
    src: url('Quattrocento-Regular.otf')
}

@media screen and (max-width: 450px) and (max-width: 767px) {
    #divSmallBoxes {
        position: fixed;
        width: 90%;
        right: 0;
        top: 0
    }

    .SmallBox {
        position: absolute;
        right: 0;
        top: 20px;
        padding-right: 30px;
        width: 100%;
        color: white;
        font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
        z-index: 999999998
    }

    .SmallBox:hover {
        box-shadow: 0 0 10px #888;
        cursor: pointer
    }

    .SmallBox span {
        font-size: 16px
    }

    .SmallBox p {
        font-size: 12px;
        margin-top: 2px
    }

    .SmallBox .foto {
        width: 100px;
        height: 100px;
        margin: -10 -10px 2em;
        float: left
    }

    .SmallBox .textoFull {
        width: 93%;
        float: left;
        padding-left: 20px
    }

    .SmallBox .textoFoto {
        width: 55%;
        margin: 0 15px 0;
        float: left
    }

    .bigBox {
        position: fixed;
        right: 10px;
        bottom: 10px;
        background-color: #004d60;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        width: 88%;
        height: 150px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
        z-index: 999999998
    }

    .bigBox span {
        font-size: 19px
    }

    .bigBox p {
        font-size: 12px;
        margin-top: 2px
    }

    #divMiniIcons {
        float: right;
        position: fixed;
        right: 10px;
        bottom: 180px;
        z-index: 999999998
    }

    .botClose {
        position: absolute;
        right: 10px;
        height: 20px;
        width: 20px
    }

    .bigBox .bigboxicon {
        width: 100px;
        margin: 0;
        float: left
    }

    .bigBox .bigboxnumber {
        position: absolute;
        right: 5px;
        bottom: 5px;
        width: 220px;
        margin: 5 0 0;
        float: left;
        text-align: right;
        font-size: 25px;
        margin-top: 2px
    }

    .divMessageBox {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 999999999
    }

    .MessageBoxContainer {
        position: fixed;
        top: 25%;
        color: white;
        width: 100%;
        background-color: #232323;
        font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif
    }

    .MessageBoxMiddle {
        position: relative;
        left: 10%;
        width: 80%;
        font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
        padding: 3px
    }

    .MessageBoxMiddle .MsgTitle {
        font-size: 22px
    }

    .MessageBoxMiddle .pText {
        font-style: 10px
    }

    .MessageBoxContainer input {
        width: 50%;
        padding: 5px
    }

    .MessageBoxContainer select {
        width: 50%;
        padding: 5px
    }

    .MessageBoxButtonSection {
        width: 100%;
        height: 30px
    }

    .MessageBoxButtonSection button {
        float: right;
        border-color: white;
        border-width: 2px;
        border-style: solid;
        color: white;
        margin-right: 5px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: arial
    }

    .MessageBoxButtonSection button:hover {
        background-color: red
    }
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.fast {
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(20px)
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0)
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    animation-name: fadeInRight
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    -moz-animation-name: fadeOut;
    -o-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-20px)
    }
}

@-moz-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(-20px)
    }
}

@-o-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -o-transform: translateX(0)
    }
    100% {
        opacity: 0;
        -o-transform: translateX(-20px)
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0)
    }
    100% {
        opacity: 0;
        transform: translateX(-20px)
    }
}

.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    -moz-animation-name: fadeOutLeft;
    -o-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft
}

#MetroUnloadingButton {
    z-index: 999999999;
    position: fixed;
    top: 300px;
    left: 300px;
    background-color: #1ba1e2
}

#MetroUnloadingButton:hover {
    background-color: #178ec7
}

.BoxContainer {
    position: absolute;
    left: 25%;
    margin-left: -50px;
    width: 800px;
    font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif
}

.title {
    /*font-size: 40px;
    margin-bottom: 0;
    display: block*/
}

.subtitle {
    position: relative;
    top: -10px;
    font-size: 23px
}

.pSpacer {
    height: 430px
}

.inBoxTitle {
    padding-top: 15px;
    font-size: 23px;
    display: block
}

.contentBox {
    width: 380px;
    height: 380px;
    position: relative;
    left: -7px;
    margin: 0 8px 0;
    float: left
}

.red {
    color: #e51400
}

.botRed {
    background-color: #e51400
}

.botRed:hover {
    background-color: #bf1404
}

.purp {
    color: #92278f
}

.botPurp {
    background-color: #92278f
}

.botPurp:hover {
    background-color: #721f70
}

.teal {
    color: #1ba1e2
}

.teal2 {
    color: #00aba9
}

.white {
    color: white
}

.green {
    color: #a4c400
}

.orange {
    color: #fa6800
}

.tealBox {
    background-color: #1ba1e2
}

.purpBox {
    background-color: #92278f
}

.greenBox {
    background-color: #a4c400
}

.botGreen {
    background-color: #a4c400
}

.botGreen:hover {
    background-color: #88a300
}

.botTeal {
    background-color: #1ba1e2
}

.botTeal:hover {
    background-color: #1588c0
}

.botTeal2 {
    background-color: #00aba9
}

.botTeal2:hover {
    background-color: #008c8a
}

.botOrange {
    background-color: #fa6800
}

.botOrange:hover {
    background-color: #e35e00
}

.pink {
    color: #d80073
}

.botPink {
    background-color: #d80073
}

.botPink:hover {
    background-color: #bc0064
}

.blue {
    color: #0050ef
}

.botBlue {
    background-color: #0050ef
}

.botBlue:hover {
    background-color: #0044ca
}

.yellow {
    color: #d8c100
}

.botYellow {
    background-color: #d8c100
}

.botYellow:hover {
    background-color: #bba700
}

button {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    color: white;
    margin-right: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px
}

@font-face {
    font-family: Quattro;
    src: url('Quattrocento-Regular.otf')
}

@media screen and (max-width: 450px) and (max-width: 767px) {
    .BoxContainer {
        position: absolute;
        width: 88%;
        font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif
    }

    .contentBox {
        width: 90%;
        height: 600px;
        left: 0;
        margin: 0 8px 0;
        float: left
    }

    .title {
        /*font-size: 32px;
        margin-bottom: 0;
        display: block*/
    }

    .subtitle {
        position: relative;
        top: -10px;
        font-size: 23px
    }

    #MetroUnloadingButton {
        position: fixed;
        bottom: 100px;
        left: 20px
    }
}